name: CI/CD (Staging)

on:
  pull_request:
    branches: [staging]

jobs:
  call-reusable:
    uses: ./.github/workflows/buildPush.yaml
    with:
      image_tag_prefix: staging
      version_suffix: pr${{ github.event.pull_request.number }}-${{ github.sha }}

